<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%highlight(%-5level){${INFO_LEVEL_COLOR}}) %clr(%logger{36}){cyan} - %msg%n%wEx</pattern>
        </encoder>
    </appender>

    <property name="INFO_LEVEL_COLOR" value="yellow"/>
    <property name="WARN_LEVEL_COLOR" value="orange"/>
    <property name="ERROR_LEVEL_COLOR" value="red"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>